html, body {
	width: 100%;
	height: 100%;
}

#twitter-tour {
	position: absolute;
	top: 4px;
	left: 1px;
	right: 1px;
	bottom: 5px;
}

.twitter-tour-canvas {
	position: relative;
	width: 100%;
	height: 100%;
}

.canvas {
	background-color: #292f33;
	border-radius: 4px;
}

.geo-globe {
	fill: #f5f8fa;
}

.stroke {
	fill: none;
	stroke: #292f33;
	stroke-width: 3px;
}

.fill {
	fill: #f5f8fa;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: .5px;
	stroke-opacity: .5;
}

.land {
	fill: #66757f;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

.user-ping {
	overflow: hidden;
	z-index: 100;
}

.user-pulse {
	fill: none;
	stroke: #55ACEE;
	z-index: 99;
}

.user-text {
	font-size: 38px;
	line-height: 55px;
	color: #ffffff;
}

#text-section {
	top: 10px;
	left: 10px;
	position: absolute;
	background-color: #55ACEE;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 90%;
	display:none;
}

.loader {
	position: absolute;
	color: #55ACEE;
	z-index: 100;
	left: 470px;
	top: 210px;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
}

.blanket {
	top: 0;
	opacity: .8;
	background-color: #666666;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.user-name {
	color: #292f33;
	font-size: 45px;
}

.place {
	color: #F8DE6E;
}

#text-location {
	position: absolute;
	z-index: 100;
	top:53%;
	left: 51%;
	color: #292f33;
}

.text-configuration {
	position: absolute;
	z-index: 100;
	bottom: 20px;
	left: 20px;
	color: #7AB800;
	font-size: 18px;
}